@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.abc{
    display: flex;
}

.down{
    width: 100%;
    height: 54px;
}
.down-list{
    margin-left: 169px;
}
.display{
    width: 166px !important;
    height: 54px !important;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border-top: 2px solid black;
    color: black !important;
}
.list2 li{
    width: 105px;
    margin-left: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
font-size: 18px;
color: #7E7E7E;
}
.bannerContainer{
    width: 100%;
    /* height: 928px; */
    height: auto;
    background-color:#F7F7F7;
}
.display_dash{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.spanContainercont{
    width: 237px;
height: 29px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #111727;
margin-left: 8px;
margin-left: 160px;
}
.button_cont{
    margin-right: 160px;
}
.button_cont button{
    cursor: pointer;
}
.blue{
    background: #340C42;
}
.brown{
    color:  #B0B0B0 !important;
    font-weight: 500 !important;
    background-color: white !important;
}
.button_cont button{
    margin-left:10px ;
}
.btndisplay{
    width: 167px;
height: 40px;
border-radius: 5px;
color: white;
text-transform:capitalize;
border: none;
font-weight: 700;
font-size: 13px;
line-height: 40px;
}


.show_displaycontainer{
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}
.showdisplayleft{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-left: 160px;
}
.showdisplayright{
    margin-right: 160px;
}
.compaginbtn{
    width: 101px;
    height: 24px;
    font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 24px;
border-radius: 2px;
}
.campagindash{
    background: #FFFFFF;
    width: 69px;
    height: 24px;
    font-weight: 600;
    font-size: 8px;
    line-height: 24px;
    color: #B0B0B0;
    border: 0.5px dashed #B0B0B0;
    border-radius: 2px;
}
.showdisplaycontent{
    width: 97px;
    height: 32px;
    font-weight: 400;
font-size: 12px;
line-height: 32px;
color: #7E7E7E;
}
.sortbycontent{
    width: 43px;
height: 32px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;
color: #7E7E7E;

}

.optioncontainer{
    width: 112px;
height: 28px;
background: #FFFFFF;
border: 1px solid #B0B0B0;
border-radius: 5px;
font-weight: 600;
font-size: 8px;
line-height: 16px;
color: #7E7E7E;
outline: none;
}
.productcontainer{
    width: 1040px;
    height: 600px;
     color: white;
    margin: auto;
    position: relative;
    margin-top: 20px;
    /* border: 2px solid red; */
    background-color: white;
}

/* popup css start */
.popup{
    display: none;
    margin: auto;
    justify-content: center;
}

.contentcontainer{
    width: 796px;
height: 730px;
margin-top: 20px;
background: #FFFFFF;
border: 1px solid #F7F7F7;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(50px);
border-radius: 5px;

}
.mainheadingcontent{
    width: 796px;
height: 116px;
left: 358px;
top: 212px;
background: #340C42;
border-bottom: 1px solid #C9C9C9;
align-items: center;
display: flex;
}
.mainheadingcontent_para{
    display: flex;
 width: 187px;
height: 29px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 88px;
}
.uploadfile_container{
    display: flex;
    width: 796px;
height: 83px;
background: #F7F7F7;
opacity: 0.3;
border-bottom: 1px solid #C9C9C9;
}
.uploadfile{
    width: 50%;
    height: 100%;
    border: 0.5px solid #C9C9C9;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.bannercontent{
    width: 365px;
height: 64px;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 32px;
color: #7E7E7E;
}
.bannercontent{
    display: flex;
    position: relative;
   margin: auto;
   justify-content: center;
   align-items: center;
   top: 30px;
}
.selectfilecontainer{
    width: 630px;
    height: 255px;
    position: relative;
    top: 35px;
    border: 1px dashed #7E7E7E;
    margin: auto;
    justify-content: center;
    text-align:center;
    display: flex;

}
.selectfilepara{
    width: 385px;
height: 37px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-transform: capitalize;
color: #7E7E7E;
margin-top: 40px;
}
.selectfileor{
width: 25px;
height: 24px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
color: #7E7E7E;
margin: auto;
margin-top: 33px;

}
.parawithInputcontainer{
   justify-content:center ;
   align-items: center;
}
.myfile{
    position: relative;
    top: 37px;
    width: 150px;
height: 32px;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #FF4D00;
border: 1px solid #ff4d00;
border-radius:5px ;
margin: auto;
}
.myfile>label{
    cursor: pointer;
}

.btncontainer{
    position:relative;
    display: flex;
    top: 74px;
    left: 88px;
    gap: 20px;
}
.addbtn{
    width: 130px;
height: 40px;
background: #340C42;
border-radius: 5px;
border: none;
color: white;
cursor: pointer;
}
.cancelbtn{
    background-color: white;
    width: 150px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    outline: none;
font-size: 16px;
line-height: 32px;
color: #B0B0B0;
cursor: pointer;

}
/* popup css end */
.cardcontainer{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
   gap: 20px;
   display: flex;
    
}
.card{
width: 234px;
height: 230px;
background: #F7F7F7;
border: 0.5px solid #B0B0B0;
border-radius: 5px;
margin-top: 20px;
}
.card img{
    width: 234px;
    height: 141px;
    border-radius: 5px;

}
.cardcontentheading{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #111727;
    margin-top: 13px;
    margin-left: 16px;
}
.tempreature {
    gap: 20px;
    margin-top: 13px;
    color: #7E7E7E;
    width: 210px;
    justify-content: space-between;
    display: flex;
}
.slash {
    width: 8px;
    height: 14px;
    align-items: center;
    border: 0.25px solid #7E7E7E;
    justify-content: center;
    display: flex;
    font-size: 8px;
    margin-left: 16px;
}
.tempcontent{
    font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
color: #7E7E7E;
margin-left: 5px;
}

.oceanAirlinse{
    font-weight: 400;
font-size: 10px;
line-height: 16px;
color: #7E7E7E;

}










.footer{
    display: flex;
    justify-content: space-around;
}

.footerlist{
    justify-content: center;
    margin-top: 50px;
    margin-right: 160px;
   gap: 50px;
   list-style: none;
   font-weight: 500;
font-size: 18px;
line-height: 22px;
cursor: pointer;
text-transform: uppercase;
color: #7E7E7E;
}
